<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %logger{36} - traceId=%X{traceId:-} spanId=%X{spanId:-} sqsMessageId=%X{sqsMessageId:-} maatId=%X{maatId:-} laaTransactionId=%X{laaTransactionId:-} | %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>